@use "fonts";

// Variables
$primary-color: #000000;
$secondary-color: #da1600;

$heading-font-family: "Poppins", sans-serif;
$body-font-family: "Afacad Flux", serif;
$base-font-size: 10px;
$base-font-weight: 400;
